.header {
    position: fixed;
    top: 0;
    height: 60px;
    padding: 10px 0;
    z-index: 100;
    width: 100%;
    background-color: var(--main-color);
    /* box-shadow: 0 10px 10px rgb(226, 226, 226); */
}

.header__container {
    height: 40px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    box-sizing: border-box;
    align-items: center;
}

.header__logo a {
    text-decoration: none;
}

.header__logo h3 {
    font-size: 25px;
    color: var(--logo-color);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}


.header__menu {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
}

.header__menu-item {
    margin-left: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    cursor: pointer;
    flex-direction: column;
}

.menu__dropdown {
    position: relative;
    padding-left: 10px;

}

.header__menu-item a,
.header__menu-item span,
.header__menu-item ul {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--normal-size);
    font-weight: var(--normal-font-weight);
}

.header__menu-dropdown-icon {
    font-size: 25px;
}

.header__menu-item .header_register-button {
    height: 30px;
    width: 100px;
    background-color: var(--button-bg);
    border-radius: 10px;
    color: var(--button-text);
    border: none;
    font-size: var(--normal-size);
    font-weight: --normal-font-weight;
    font-style: inherit;
    cursor: pointer;
}

.header__menu-list {
    display: none;
    transition: .3s;
}

.header__menu-list.active {
    display: block;
    position: absolute;
    top: -30px;
    transition: .3s;
    z-index: 1000;
}

.header__menu-list ul {
    background-color: white;
    display: grid;
    list-style: none;
    position: absolute;
    top: 45px;
    height: auto;
    width: 300px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 1px 18px #888888;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    transition: .3s;
    left: 0;
}

.header__menu-item ul li {
    padding: 10px;
    width: 33, 33%
}

.header__menu-item.active header__menu-list {
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header__menu-item i {
    transition: .3s;
}

.header__menu-item.active i {
    transform: rotate(180deg);
    transition: .3s;
}

.searchbar-group {
    position: relative;
}

.header__searchbar-input {
    padding-left: 10px;
    margin-right: 30px;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border: none;
    border: 1px solid var(--button-solid-border);
    background-color: #fff;
    font-size: 14px;
    transition: .5s;


}

.header__searchbar-input:focus {
    padding-left: 30px;
    width: 500px;
    border: 1px solid var(--button-solid-border);
    outline: none;
    transition: .5s;
    font-size: 16px;

}

.active {
    position: relative;
}

.header__menu-searchbar-icon {
    position: absolute;
    right: 35px;
    width: 25px;
    height: 25px;
    top: 4px;
}

.header__menu-cart-item {
    width: 25px;
    height: 25px;
}

.header__menu-cart-group {
    position: relative;
}

.header__menu-cart-count {
    position: absolute;
    color: white;
    background-color: var(--button-solid-border);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: -5px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu-cart-count span {
    font-size: 11px;
    font-weight: 700;
    z-index: 100;
}

.header__menu-item-bar {
    height: 2px;
    width: 0;
    background-color: var(--button-bg);
    transition: .3s;
}

.header__menu-item:hover .header__menu-item-bar {
    width: 100%;
    transition: .3s
}

.brand__show:hover {
    color: rgb(155, 155, 155);
}
