@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500&display=swap');
.user__container{
    width: 80%;
    margin: auto;
    display: flex;
    border-radius: 25px;
    margin-top: 60px;
    margin-bottom: 100px;
    justify-content: space-around;
    position: relative;
    box-shadow: 15px 15px 10px 0 rgb(185, 185, 185);

}
.user__main--content{
    width: 1070px;
    flex-shrink: 0;
}
.login__img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.form__container{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width:50%;
    height: 713px;
    overflow: hidden;
    position: relative;
    border-top: 1px solid rgb(211, 211, 211);

}
.form__title{
    text-align: center;
    font-family: 'Genos', sans-serif;
}
.login__form,
.register__form{
    padding-top: 30px;
    width:100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.register__form{
    left: 100%;
    transition: .7s;
    

}
.register__form.active{
    left: 0;
    transition: .7s;

}
.login__form.active{
    left: 0;
    transition: .7s;
}
.login__form{
    left: -100%;
    transition: .7s;

}
.form__login-group{
    width: 100%;
    padding-top: 150px;
   
}
.form__register-group{
    width: 100%;
    padding-top: 50px;
   
}
.form__element{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.form__input{
    width: 90%;
    height: 40px;
    padding-left: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgb(194, 194, 194);
}
.form__btn{
    width: 40%;
    height: 35px;
    margin-bottom: 20px;
}
.form__notify{
    text-align: center;
}

.form__link{
    color: black;
    
}
.form__bar-group{
    position: absolute;
    width: 100%;
    top: 70px;
}
.form__bar-main{
    height: 3px;
    width: 100%;
    background-color: rgb(204, 204, 204);
}
.form__bar-sub{
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 50%;
    background-color: black;
    transition: .7s;
}
.form__bar-sub.active{
    left: 50%;
    transition: .7s;
}